<?php
$datahelper = $this->helper('MageArray\SubcategoriesGridList\Helper\Data');
?>
<?php if($datahelper->isEnabled()): ?>
	<?php 
	$imagehelper = $this->helper('MageArray\SubcategoriesGridList\Helper\Resize');
	$category = $datahelper->getCategory($block->getCatalogCategory());
	$subcats = $datahelper->getSubCategories($category);
	$helper = $this->helper('Magento\Catalog\Helper\Output');
	$class = $datahelper->getColumnClass($this->getNoOfColumns());
	$showImage = $this->getShowImages();
	$noCategory = $this->getNoOfSubcategory();

	if ($this->getSubcategoriesLayout() == 1) {
		$viewMode = 'grid';
		$showDescription = false;
	} else {
		$viewMode = 'list';
		$showDescription = true;
	}
	?>
	<?php if($subcats->getSize()) : ?>
		<h3><?php /* @noEscape */ echo $category->getName(); ?></h3>
		<div class="<?php if($viewMode == 'grid'): echo 'catalog-category-main'; endif; ?> products wrapper <?php echo $viewMode; ?> products-<?php echo $viewMode; ?>">
			<div class="category-list-view">
				<ul class="catalog-sub-category">
					<?php
					$k = 0;
					$notImageCategory = [];
					foreach ($subcats as $_subCategory) {
						if ($noCategory == $k) {
							break;
						}			
						?>
						<div class="<?php /* @noEscape */ echo $class; ?>">
							<li>
								<?php if ($showImage) :
									$imageUrl = $imagehelper->imageResize($datahelper->getImagePath($_subCategory));
									?>
									<div class="cat-image">
										<a href="<?php /* @noEscape */ echo $_subCategory->getUrl(); ?>">
											<img src="<?= $imageUrl  ?>" alt="<?= $block->stripTags($_subCategory->getName(), null, true) ?>"/>
										</a>
									</div>
								<?php endif; ?>
								<div class="info">
									<h4>
										<a href="<?php /* @noEscape */ echo $_subCategory->getUrl() ?>">
											<?php /* @noEscape */ echo $_subCategory->getName(); ?>
										</a>
									</h4>
									<?php if ($showDescription) : ?>
										<div class="product description product-item-description">
											<?php /* @noEscape */ echo $_subCategory->getDescription() ?>
										</div>
									<?php endif; ?>
								</div>
							</li>
						</div>
						<?php
						$k++;
					}
					?></ul>
			</div>
		</div>
<?php endif; ?>
<?php endif; ?>
