<?php 
$datahelper = $this->helper('MageArray\SubcategoriesGridList\Helper\Data');
$imagehelper = $this->helper('MageArray\SubcategoriesGridList\Helper\Resize');
$category = $datahelper->getCurrentCategory(); ?>

<div class="category-description">
	<h2><?php echo $block->getCurrentCategory()->getName() ?> <span><label class="product-total-count"><?php echo $category->getProductCount();?></label> producten </span></h2>
	<?php if ($_description = $block->getCurrentCategory()->getDescription()): ?>
        <?= /* @escapeNotVerified */ $this->helper('Magento\Catalog\Helper\Output')->categoryAttribute($block->getCurrentCategory(), $_description, 'description') ?>
    
	<?php endif; ?>
</div>

<?php
$subcats = $datahelper->getSubCategories($category);
$class = $datahelper->getColumnClass($category->getNoOfColumns());
if ($datahelper->getListLayout() == 1) {
    $viewMode = 'grid';
    $showDescription = false;
} else {
    $viewMode = 'list';
    $showDescription = true;
}
?>
<div class="category-cms">
	<h2>Subcategorieën</h2>
	<div class="<?php if($viewMode == 'grid'): echo 'catalog-category-main'; endif; ?> products wrapper <?php /* @noEscape */ echo $viewMode; ?> products-<?php echo $viewMode; ?>">
	    <div class="category-list-view">
	        <ul class="catalog-sub-category">
	            <?php foreach ($subcats as $_subCategory): ?>
					<div class="<?php /* @noEscape */ echo $class; ?>">
						<li>
							<?php $imageUrl = $imagehelper->imageResize($datahelper->getImagePath($_subCategory)); ?>
							<div class="cat-image">
								<a href="<?php /* @noEscape */ echo $_subCategory->getUrl() ?>">
									<img src="<?= $imageUrl  ?>" alt="<?= $block->stripTags($_subCategory->getName(), null, true) ?>"/>
								</a>
							</div>
							<div class="info">
								<h4>
									<a href="<?php /* @noEscape */ echo $_subCategory->getUrl() ?>">
										<?php /* @noEscape */ echo $_subCategory->getName(); ?>
									</a>
								</h4>
								<?php if ($showDescription) : ?>
									<div class="product description product-item-description">
										<?php /* @noEscape */
										echo $_subCategory->getDescription() ?>
									</div>
								<?php endif; ?>
							</div>
						</li>
					</div>
				<?php endforeach; ?>
			</ul>
	    </div>
	</div>
</div>
<script type="text/javascript">
	require([
        'jquery',
    ], function ($) {
        $(window).load(function(){
            var totalCount = $('.toolbar-number-total').html();
            $('.product-total-count').html(totalCount);

        });
    });
</script>