@category-info-link: #2584c9;
@category-info-border: #ccc;


& when (@media-common =true) {
    .catalog-sub-category {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .category-info {
        text-align: center;
        border: 1px solid @category-info-border;
        position: relative;
        margin-bottom: 5px;
        h4 {
            margin-bottom: 5px;
            a {
                color: @category-info-link;
            }
        }
        .cat-image {
            padding-bottom: 15px;
        }
        .fn {
            float: none;
        }
    }
}
